/*generic*/
body{
    margin: 0;
}
a{
    text-decoration: 0;
}
#weight300opening{
    font-weight: 300;
    font-size: 8rem;
}
#flex{
    display: flex;
}
#green{
    color: #F18701;
}
/*navigation*/
.navigation {
    width: 102%;
    background-color: #F18701;
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    margin-bottom: 5vh;
}
.icon{
    height: 1.35vw;
    width: 1.35vw;
    margin-left: 0.5vw;
}
.iconXL{
    height: 2.5%;
    width: 2.5%;
    margin-left: 0.75%;
}
.logo {
    margin-top: 0.75%;
    height: 2vw;
    aspect-ratio: 943 / 366;
    width: auto;
    margin-left: 0.75%;
}

.nav-button {
    
    width: auto;
    color: white;
    
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -5%;
    
    font-size: 2.25em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
    transition: all 0.1s ease-in-out; 
}
/*-------------------------*/
/*main*/
.welcoming-heading{
    text-align: center;
    font-size: 6.5em;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 4%;
}
.train-image{
    width: 55%;
    height: auto;
    border-radius: 2.5vw;
    margin: 2.5%;
    margin-top: 0;
    aspect-ratio: auto 3/4;
}
.description{
    width: 50%;
    display: flex;
}
.heading{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    justify-self: center;
    text-align: center;
    margin-top: 0;

}
.subheading{
    font-size: 1.8em;
    margin-left: 2.5%;
    margin-top: 2%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #181818;
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;
    
}
.subheading:hover{
    color: #F18701;
}
.headingVer2{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 4.6em;
    margin-top: 5%;
    margin-left: 2.5%;
    color: #F18701;
    margin-bottom: 3%;

}
.element{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 2.2em;
    margin-left: 0;
}
.text{
    font-size: 2em;
    margin-left: 2.5%;
    width: 91%;
    line-height: 1.5em;
    word-spacing: 0.1em;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      margin-bottom: 4%;
}
/*gallery*/
.gallery-image{
    width: 40%;
    height: 40%;
    margin:2%;
    border-radius: 2.5vw;
    aspect-ratio: 1/1;
    transition: 0.3s ease-in-out;
}
.gallery-image:hover{
    transform: scale(1.1);
    z-index: 2;
}
.gallery-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gallery-container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 2%;
}
.gallery-item {
    width: 19%;
    margin: 2%;
    text-align: center;
}
.gallery-item p{
    color: #F18701;
    font-size: 2em;
}
.gallery-image2 {
    width: 100%;
    border-radius: 2.5vw;
    aspect-ratio: 1/1;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.text1 {
    margin-top: 8px;
    font-size: 0.8em;
    color: #333;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.gallery-image2:hover{
    filter: grayscale(0%);
}
/*footer*/
.footer{
    width: 100%;
    height: 33vh;
    font-size: 2.5em;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
    background-color: #181818;
    padding: 1vw
}
.iconL{
    height: 1.76vw;
    width: 1.75vw;
    margin-left: 1vw;
}
.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 5vh;
    grid-gap: 0.5vw;
}
.footer-grid a{
    color: white;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-right: 10%;
    margin-left: 5%;
    transition: all 0.1s ease-in-out; 
}
.footer-grid a:hover{
    color: #F18701;
}
.footer-heading{
    margin-left: 1vw;
    margin-top: 2vw;
}
.email{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-left: 1%;
    transition: all 0.1s ease-in-out;
}
.email:hover{
    color: #F18701;
}